* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font: 'Poppins', sans-serif;
  --nav-height: 6.4rem;

  /* colors */
  --teal-500: #14b8a6;
  --teal-400: #2dd4bf;

  --neutral-900: #171717;
  --neutral-800: #262626;
  --neutral-700: #404040;
  --neutral-300: #d4d4d4;
  --neutral-100: #f5f5f5;

  /* font-size */
  --title-large: 3.2rem;
  --text-small: 1.4rem;
  --text-medium: 1.6rem; /* default */
}

body {
  font-family: var(--font);
  color: var(--neutral-300);
  background-color: var(--neutral-900);
  font-size: var(--text-medium);
}

.wrapper {
  max-width: 37.7rem;
  margin: auto;
  padding-inline: 1.5rem;
}

img {
  width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--title-large);
}

/* ========== NAVIGATION ========== */

#nav {
  padding-block: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#nav.scroll {
  background: var(--teal-500);
  padding-block: 0.5rem;
}

#nav h1 {
  text-align: center;
}

#nav h1 strong {
  color: var(--teal-500);
}

#nav.scroll strong {
  color: var(--neutral-300);
}

/* ========= TAGS ========== */

#tags .wrapper {
  margin-top: var(--nav-height);
  padding: 0.7rem;
  border-radius: 0.4rem;
  background-color: var(--neutral-800);
  display: flex;
  gap: 1rem;
}

#tags .t-box {
  padding: 0.2rem 1rem;
  background-color: var(--teal-500);
  border-radius: 0.4rem;
  color: var(--neutral-100);
  font-size: var(--text-small);
}

/* ========== PRODUTOS ========== */

#products .wrapper {
  padding: 1.2rem;
}

#products .info {
  padding: 1.4rem 0.6rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  border-top: 0.1rem solid var(--teal-400);
}

#products .img {
  width: 9.2rem;
  height: 12rem;
  background: var(--neutral-800);
  padding: 1rem;
  border-radius: 0.4rem;

  display: flex;
  align-items: center;
}

#products .texts {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

#products .texts h2 {
  font-size: var(--text-medium);
}

#products .texts p {
  font-size: var(--text-small);
}

#products strong {
  color: var(--teal-500);
}

#products a {
  display: block;
  padding-block: 0.7rem;
  width: 8.3rem;
  background-color: var(--neutral-800);
  color: var(--neutral-100);
  border-radius: 0.4rem;
}

#products .links button:nth-of-type(2) a {
  background-color: var(--teal-500);
}

@media (max-width: 386px) {
  body {
    padding-inline: 1.5rem;
  }
}
