* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --popp: 'Poppins', sans-serif;
  --merienda: 'Merienda One', sans-serif;
  --font: 'Inter Tight', sans-serif;
  --nav-height: 7.8rem;

  /* colors */
  --main: #0d0d0d;
  --main-light: #fff;
  --alt-dark: #403e4b;
  --alt-light: #d9d4cc;

  --rose-700: #be123c;
  --rose-400: #fb7185;
  --rose-300: #fda4af;
  --rose-100: #ffe4e6;
  --rose-50: #fff1f2;

  --orange-50: #fff7ed;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
  color: var(--main);
  background: var(--main-light);

  text-align: center;

  overflow: overlay;
}

.wrapper {
  width: 37rem;
  max-width: 100%;
  margin: auto;
  padding-inline: 3.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ========== NAV ========== */
#nav {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  padding-block: 1.6rem;
}

#nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav .logo {
  font-size: 2.6rem;
  color: var(--main);
}

#nav .logo span {
  font-weight: bold;
  color: var(--rose-700);
  transition: color 0.2s;
}

#nav i {
  font-size: 3.2rem;
}

#nav .open-menu i {
  color: var(--rose-700);
  border: 2px solid var(--rose-700);
  border-radius: 0.3rem;
}

#nav.scroll {
  width: 100%;
  background: var(--rose-700);
}

#nav.scroll .open-menu i,
#nav.scroll .logo,
#nav.scroll .logo span {
  color: var(--alt-light);
}

#nav.scroll .open-menu i {
  border-color: var(--alt-light);
}
/* MENU */
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  display: none;
}

body.menu-expanded #nav {
  position: relative;
}

body.menu-expanded .logo,
body.menu-expanded .open-menu {
  position: relative;
  z-index: 12;
  color: var(--alt-light);
}

body.menu-expanded #nav .open-menu i {
  color: var(--alt-light);
  border: 2px solid var(--alt-light);
  border-radius: 0.3rem;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100vh;

  visibility: hidden;
  opacity: 0;

  background: var(--main);

  transition: opacity 0.2s;
}

body.menu-expanded .menu {
  visibility: visible;
  opacity: 1;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 2.2rem;

  padding-top: var(--nav-height);
}

.menu ul:nth-child(1) a {
  color: var(--alt-light);
  font-weight: bold;
}

body.menu-expanded #nav .logo,
body.menu-expanded #nav .logo span {
  color: var(--alt-light);
}

.button {
  color: var(--alt-light);
  display: inline-block;
  font-size: 2.2rem;
  border: 1px solid var(--alt-light);
  border-radius: 4rem;
  margin-block: 4rem;
  padding: 1.5rem 3rem;
  transition: 0.3s;
}

.button:hover {
  background: var(--alt-light);
  color: var(--main);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.socials a i {
  color: var(--alt-light);
  font-size: 3.2rem !important;
}

/* ========== HEADER ========== */
#header {
  margin-top: calc(4rem + var(--nav-height));
  /* position: relative; */
}

#header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(100rem + var(--nav-height));
  background: var(--rose-50);
}

#header h4 {
  margin-bottom: 2rem;
  color: var(--rose-700);
}

#header h1 {
  line-height: 130%;
  margin-bottom: 2rem;
}

#header p:nth-child(3) {
  color: var(--alt-dark);
  font-size: 1.8rem;
  line-height: 150%;
  margin-bottom: 3rem;
}

#header button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background: var(--rose-700);

  padding: 1.6rem 2.4rem;
  margin: auto;
  margin-bottom: 4rem;
  border-radius: 6rem;
  border: 0.2rem solid var(--rose-50);

  font-size: 2rem;
  color: var(--main-light);

  transition: 0.2s;
}

#header button:hover {
  background: var(--rose-50);
  border: 0.2rem solid var(--rose-700);
  color: var(--rose-700);
}

/* HEADER IMG */

#header img {
  display: block;

  width: 26.4rem;
  margin: auto;
  object-position: 0 2rem;
}

/* STATS */

.stats {
  width: 32rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding-block: 3rem;
  background: var(--orange-50);
  border: 1px solid var(--alt-light);
  border-radius: 0.4rem;
}

.stat h3 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.stat p {
  font-size: 1.8rem;
  color: var(--rose-700);
}
