* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --poppins: 'Poppins', sans-serif;
  --merienda: 'Merienda One', sans-serif;
  --font: 'Inter Tight', sans-serif;
  --nav-height: 7.8rem;

  /* colors */
  --main: #0d0d0d;
  --main-light: #fff;
  --alt-dark: #403e4b;
  --alt-light: #d9d4cc;
  --rose-700: #be123c;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
  background: var(--main-light);

  text-align: center;

  overflow: overlay;
}

.wrapper {
  width: 37rem;
  max-width: 100%;
  margin: auto;
  padding-inline: 3.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ========== NAV ========== */
#nav {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  padding-block: 1.6rem;
}

#nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav .logo {
  font-size: 2.6rem;
  color: var(--main);
}

#nav .logo span {
  font-weight: bold;
  color: var(--rose-700);
  transition: color 0.2s;
}

#nav i {
  font-size: 3.2rem;
}

#nav .open-menu i {
  color: var(--rose-700);
  border: 2px solid var(--rose-700);
  border-radius: 0.3rem;
}

#nav.scroll {
  width: 100%;
  background: var(--rose-700);
}

#nav.scroll .open-menu i,
#nav.scroll .logo,
#nav.scroll .logo span {
  color: var(--alt-light);
}

#nav.scroll .open-menu i {
  border-color: var(--alt-light);
}
/* MENU */
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  display: none;
}

body.menu-expanded #nav {
  position: relative;
}

body.menu-expanded .logo,
body.menu-expanded .open-menu {
  position: relative;
  z-index: 11;
  color: var(--alt-light);
}

body.menu-expanded #nav .open-menu i {
  color: var(--alt-light);
  border: 2px solid var(--alt-light);
  border-radius: 0.3rem;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  visibility: hidden;
  opacity: 0;

  background: var(--main);

  transition: opacity 0.2s;
}

body.menu-expanded .menu {
  visibility: visible;
  opacity: 1;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 2.2rem;

  padding-top: var(--nav-height);
}

.menu ul:nth-child(1) a {
  color: var(--alt-light);
  font-weight: bold;
}

body.menu-expanded #nav .logo,
body.menu-expanded #nav .logo span {
  color: var(--alt-light);
}

.button {
  color: var(--alt-light);
  display: inline-block;
  font-size: 2.2rem;
  border: 1px solid var(--alt-light);
  border-radius: 4rem;
  margin-block: 4rem;
  padding: 1.5rem 3rem;
  transition: 0.3s;
}

.button:hover {
  background: var(--alt-light);
  color: var(--main);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.socials a i {
  color: var(--alt-light);
  font-size: 3.2rem !important;
}

/* ========== HEADER ========== */
#header {
  margin-top: var(--nav-height);
}
